.card-intro-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  .card-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: $white;
    width: 100%;
    margin: 0 0 .5rem 0;
    
    @include xs-up {
      margin: 0 .5rem .5rem 0;
      width: unset;
    }

    .card-intro-content {
      padding: 1rem;
      text-align: center;
      
      .difference {
        margin-bottom: .5rem;
        font-family: $monoFont;

        .val-absulte {
          font-size: 2rem;
        }
        
        .val-relative {
          margin-left: .25rem;
        }
      }
      
      .title {
        text-transform: uppercase;
        margin-bottom: .25rem;
        font-size: 1.25rem;
      }
      
      .value {
        margin-top: 1rem;
        font-size: 1.5rem;
        font-family: $monoFont;
      }
    }
  }

  .bg-red {
    background-color: $itLightRed;
  }

  .bg-green {
    background-color: $itGreen;
  }

  .bg-blue {
    background-color: $bluSavoia;
  }

  .bg-black {
    background-color: $black;
  }

  .bg-red-active {
    background-color: $itRed;
  }
}