{%- comment -%}
<header class="header">
  <h1 class="brand">{{ site.title }}</h1>


</header>
{%- endcomment -%}

<a class="skip-link" href="#main">Skip to main</a>
<header class="header">
  <div class="header-container">
    <div class="logo-container">
      <div class="snoozle-logo">
        <a class="snoozle-link" href="{{ site.data.link.snoozleUrl }}">
          <span class="snoozle">Snoozle</span><span class="studio">Studio</span>
        </a>
        <p class="abruzzo">x l'Italia</p>
      </div>
      <div class="live">
        <div class="container">
          <div class="pulse"></div>
          <p class="pulse-text">live</p>
        </div>
      </div>
    </div>
    <div class="social-container">
      <div class="share-please">
        condividi
      </div>
      <div>
        <a class="social-link" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}/"
          title="Condividi coviditalia.info su Facebook" rel="noopener" target="_blank">
          {{ site.data.icon.facebook }}
        </a>
        <a class="social-link" href="https://wa.me/?text=Coronavirus%20in%20Italia%20-%20https%3A%2F%2Fcoviditalia.info"
          title="Condividi coviditalia.info su WhatsApp" rel="noopener" target="_blank">
          {{ site.data.icon.whatsapp }}
        </a>
        <a class="social-link"
        href="mailto:?subject=&body={{ site.url }}/ Coronavirus in Italia - I dati aggiornati"
        title="Condividi coviditalia.info con una mail" target="_blank">
        {{ site.data.icon.email }}
        </a>
      </div>
    </div>
  </div>
  <div class="abruzzo-colors"></div>
</header>