// .header {
//   width: 90%;
//   margin: 0 5%;

//   .brand {
//     padding: 1rem;
//     font-size: 2rem;
//     font-weight: 700;
//     background-color: red;
//     color: white;
//     display: inline-block;
//   }

//   .live {
//     display: inline-block;
//     margin: 1rem;

//     .container {
//       width: fit-content;
//       display: flex;
//       flex-direction: row;
//       align-items: center;
//     }

//     .pulse {
//       width: 1rem;
//       height: 1rem;
//       border: none;
//       box-shadow: 0 0 0 0 rgba(red, 0.7);
//       border-radius: 50%;
//       background-color: red;
//       animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
//     }

//     @keyframes pulse {
//       to {
//         box-shadow: 0 0 0 1rem rgba(red, 0);
//       }
//     }

//     .pulse-text {
//       margin-left: 1rem;
//       color: red;
//       text-transform: uppercase;
//       line-height: 1;
//     }
//   }
// }

$btn-padding: .5rem;

$transition-duration: .5s;
$transition-timing-func: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$transition-all: all $transition-duration $transition-timing-func;

.skip-link {
  font-family: $firaFont;
  position: absolute;
  top: -40px;
  left: 0;
  background: $black;
  color: $white;
  padding: $btn-padding;
  z-index: 100;
  transition: $transition-all;
}

.skip-link:focus {
  top: 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $white;
  color: $black;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;

  .header-container {
    width: 100%;
    padding: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 1;

    .snoozle-logo {
      text-align: center;

      .snoozle-link {
        text-decoration: none;
        color: $black;

        .snoozle {
          font-family: $abrilFont;
          font-size: 1.125rem;
        }
        .studio {
          font-family: $firaFont;
          // font-weight: 300;
          font-size: .925rem;
        }
      }

      .snoozle {
        font-size: 1.425rem;
      }

      .studio {
        font-size: 1.225rem;
      }

      .abruzzo {
        margin-top: -.325rem;
        // font-family: $marker;
        color: blue;
        font-size: .925rem;
        transform: rotate(-3deg);
      }
    }

    .social-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include sm-up {
        flex-direction: row;
      }

      .share-please {
        font-size: .75rem;
        letter-spacing: 3px;
        font-weight: 300;
        // font-family: $fira;
        margin-bottom: .175rem;
        text-transform: uppercase;

        @include sm-up {
          margin: 0 1rem 0 0;
        }
      }

      .social-link {
        // font-family: $fira;
        font-size: 1.5rem;
        text-decoration: none;
        color: black;
        margin-right: 1rem;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  // .italy {
  //   width: 100%;
  //   height: 2px;
  //   background: $it-green;
  //   background: linear-gradient(90deg, $it-green 0%, $it-white 50%, $it-red 100%);
  // }

  .abruzzo-colors {
    width: 100%;
    height: 2px;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(30, 93, 168, 1) 50%, rgba(120, 184, 42, 1) 100%);
  }
}