// Modules and Variables
@import 'partials/base';

// Partials
@import "partials/reset";
@import "partials/buttons";
@import "partials/figures";
@import "partials/header";
@import "partials/main";
@import "partials/section";

// theme
@import "theme/theme";

html,
body {
  height: 100%;
}

.body {
  background: $white;
  color: $black;
  font-family: $bodyFont;
}


